html {
  height: 100%;
}

body {
  background-color: #eff3f4;
  position: relative;
  height: 100%;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* colors */
:root {
  --darkBlue: #217093;
  --medBlue: #4eb8dd;
  --lightBlue: #ddf1fa;
  --inputBG: #f3fafd;
}
